*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#ffd6e0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 30px;
}
.header{
    width: 100%;
    background-color:rgb(186, 251, 251);
    text-align: center;
    border: 1.5px solid #000000;
    border-radius: 25px;
}
.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #96dcdc;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    border: 1.5px solid #000000;
    border-radius: 25px;
}
.about p{
    text-align: center;
}
.skills ul{
    list-style: none;        
    padding: 0;              
    margin: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap ;
    gap: 15px;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    border: 1.5px solid #000000;
    border-radius: 25px;
    background-color: #bff8f8;

}
.skills h2{
    text-align: center;
}
.skills li {
    text-align: center;
    background-color: white;
    padding: 10px 18px;
    border-radius: 20px; 
    transition: background-color 0.3s, color 0.3s; 
    color: #333; 
}

.skills li:hover {
    background-color: #81d4d4;
    color: #000; 
    cursor: pointer;
}


.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;text-align: center;
    background-color:#96dcdc;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    border: 1.5px solid #000000;
    border-radius: 25px;

}
.projects p{
    text-align: center;
}
.resume{
    width: 100%;
    background-color:#bfe8e8;
    text-align: center;
    padding: 30px;
    border: 1.5px solid #000000;
    border-radius: 25px;
}
.footer{
    width: 100%;
    background-color:#c4e8d9 ;
    text-align: center;
    padding: 30px;
    border: 1.5px solid #000000;
    border-radius: 25px;
}